* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(52, 50, 50);
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.3) 70%),
              linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%),
              linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 0%),
              url(/Assets/images/header-image.png);
background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;



   display: flex;
   flex-direction: column;
  
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  padding: 7px 20px;
  background: db0001;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 12px;
  font-weight: 700;
}

.transparent-button {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #ccc;
  padding: 7px 15px;
  color: #fff;
  cursor: pointer;
}

.transparent-button img {
  width: 8px;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 10px;
  border-radius: 6px;
}

.dropdown-content a {
  display: block;
  padding: 13px;
  text-decoration: none;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
  color: #000;
}

.selected {
  margin: 2px;

border-radius: 4px;
  background-color: red;
}

.button-container.open .dropdown-content {
  display: block;
}

.header-content{
 position: relative;
 display: flex;
 flex-direction: column;
 text-align: center;
 top: 50%;
 left: 50%;
 width: 100%;
 transform: translate(-50%,-50%);

}

.header-content h1{
  font-size: 3rem;
  font-weight: 900;
}

.header-content h3{
  margin: 1rem 0 0;
  font-size: 1.125rem;
  font-weight: 400;
   line-height: 40px;
   margin-bottom: 20px;
  
   font-family: Verdana, Geneva, Tahoma, sans-serif
   ;

}
p{
  font-size: 25px;
}
.sighnup {
margin-top: 40px;
flex-direction: row;
}

.email{
 
  background: rgba(0, 0, 0, 0.2); 
  width: 35%;
  flex: 1;
  border: 0;
  outline: 0;
  height: 60px;
  padding-left: 10px;
  font-size: 15px;
  font-family:sans-serif;
  color: #fff;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-out;
 
}
input:focus {
  border-color: #fff;
 
  border: 4px solid #ccc;
  border-radius: 4px;
}

form button{
  width: 20%;
  height: 60px;
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 20px;

}


.tv{
  padding: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background: black;
  margin-bottom: 10px;
}
.tvtext{
 line-height: 40px;
}
.tvtext h1{
  font-weight: bold;
}
.tvtext p{
  font-size: 15px;
  line-height: 2;
}
.tv img{
  width: 500px;
  
}
.downloadshows{
  padding: 50px;
  display: flex;
  align-items: center;
  background: black;
  margin-bottom: 10px;

}

.dnimg img{
  width: 500px;
}
.dntext{
  line-height: 1.5;
 }
 .dntext h1{
  font-weight: bold;
 }
 .dntext p{
  margin-top: 10px;
  font-size: 15px;
  line-height: 2;
 }
 .watch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 50px;
 }
 .waimg img{
  width: 500px;
  
 }
 
 .wtext h1{
  font-weight: bold;
 }
 .wtext p{
  margin-top: 20px;
  font-size:15px; 
  line-height: 2;
 }

 .childshows{
  margin-top: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  background: black;
  margin-bottom: 10px;
 }
 .childimg img{
  width: 500px;
 }
 .chtext{
  margin-left: 20px;
 }
 .chtext h1{
  font-size: 3rem;
 font-weight: bolder;
 
 }
 .chtext p{
  margin-top: 10px;
  font-size: 1.3rem;
  line-height: 2;
 }
.quest{
  padding: 150px;
  margin-top: 10px;
  background: black;
 
}
.quest h1{
text-align: center;
font-size: 3rem;
font-weight: 900;
}
 .questions{
  align-items: center;
  margin-top: 20px;
  align-items: center;
 
  text-align: center;
  list-style: none;
  
  font-size: 1.5rem;
  font-weight: 400;
}



.q{
  cursor: pointer;
  margin-top: 10px;
  color: rgb(235, 235, 241);
  background-color: rgb(44, 40, 40);
  height: 70px;
  padding: 30px;

}
.answer {
  display: none;
  background-color: rgb(44, 40, 40);
  margin-top:3px ;
  margin-bottom: 15px;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  text-align: left;
  
 
}
.h6{
  margin-top: 45px;
  margin-bottom: -10px;
  font-size: 1.5rem;
font-weight: 400;
line-height: 1.5;
}
.Footer{
  margin-top: 10px;
  background: black;
  display: block;
  align-items: center;
  justify-content: center;
padding: 80px;
}
.Footer p{
margin-left: 20px;
font-size: 15px;
 
}
.flex{
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  
  
}
.insideflex li {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.insideflex li a{
  color: white;
  list-style: none;
  
  margin-top: 10px;

}
.Footer h5{
margin-left: 20px;
}


@media (max-width: 600px) {
 
  .header-content h1{
    font-size: 1.7rem;
    font-weight: 700;
  }
  .header-content p{
    font-size: 15px;
  }
  .email{
    width: 40%;
  }

  .sighnup button {
   width: 25%;
   font-size: 12px;
   padding: 0px;
  }



.banners{
  width: 100%;
}






 .tvtext p{
   font-size: 10px;
 }
 .tv img{
   width: 250px;
   background: #d1cccc;
 }
 
 .dnimg img{
  width: 250px;
 }

  .dntext h1{
   font-weight: bold;
   font-size: 25px;
   
  }
  .dntext p{
   font-size: 10px;
  }
  
  .waimg img{
    width: 240px; 
   }
  
  
  .wtext p{
   font-size:10px; 
  }
 
  
  .childimg img{
    width: 250px;
    margin-left: 0px;
  }
  
  .chtext h1
  {
    font-size: 25px;
  }

  .chtext p{
   margin-top: 10px;
   font-size: 10px;
   
  }
 .quest{
  padding: 90px;
 }
 .quest h1{
 font-size: 1.5rem;
 font-weight: 900;
 }
  .questions{
   font-size: 0.7rem;
   font-weight: 700;
 }
 

 

 .h6{

 font-size: 0.8rem;

 }
 
}