* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(52, 50, 50);
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.3) 70%),
              linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 70%),
              linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 0%),
              url(/Assets/images/header-image.png);
background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  padding: 7px 20px;
  background: db0001;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 12px;
  font-weight: 700;
}

.transparent-button {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #ccc;
  padding: 7px 15px;
  color: #fff;
  cursor: pointer;
}

.transparent-button img {
  width: 8px;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 10px;
  border-radius: 6px;
}

.dropdown-content a {
  display: block;
  padding: 13px;
  text-decoration: none;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
  color: #000;
}

.selected {
  margin: 2px;

border-radius: 4px;
  background-color: red;
}

.button-container.open .dropdown-content {
  display: block;
}

.header-content{
 position: absolute;
 text-align: center;
 top: 50%;
 left: 50%;
 width: 100%;
 transform: translate(-50%,-50%);

}

.header-content h1{
  font-size: 3rem;
  font-weight: 900;
}

.header-content h3{
  margin: 1rem 0 0;
  font-size: 1.125rem;
  font-weight: 400;
   line-height: 40px;
   margin-bottom: 20px;
  
   font-family: Verdana, Geneva, Tahoma, sans-serif
   ;

}
p{
  font-size: 25px;
}
.sighnup{

  width: 720px;
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin-top: 30px;
  margin-left: 350px;
 overflow: hidden;
 backdrop-filter: blur(10px); /* Adjust the value for the desired level of blur */
 background-color: rgba(28, 26, 26, 0.5); 
}

 input{
  
  flex: 1;
  border: 0;
  outline: 0;
  height: 60px;
  padding-left: 10px;
  font-size: 15px;
  font-family:sans-serif;
  color: #fff;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-out;
 
}
input:focus {
  border-color: #fff;
 
  border: 4px solid #ccc;
  border-radius: 4px;
}

form button{
  height: 60px;
  width: 270px;
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 20px;

}


.tv{
  padding: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  background: black;
  margin-bottom: 10px;
}
.tvtext{
 line-height: 40px;
}
.tvtext h1{
  font-weight: bold;
}
.tvtext p{
  font-size: 15px;
}
.tvimg{
  width: 70px;
  background: #d1cccc;
}
.downloadshows{
  padding: 80px;
  display: flex;
  align-items: center;
  background: black;
  margin-bottom: 10px;

}
.dntext{
  line-height: 40px;
 }
 .dntext h1{
  font-weight: bold;
 }
 .dntext p{
  font-size: 15px;
 }
 .watch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 80px;
 }
 .waimg{
  padding-top:100px;
  margin-right:90px;
 }
 .wtext{
  margin-left: 70px;
  line-height: 40px;
 }
 .wtext h1{
  font-weight: bold;
 }
 .wtext p{
  font-size:15px; 
 }

 .childshows{
  margin-top: 10px;
  padding: 100px;
  display: flex;
  align-items: center;
  background: black;
  margin-bottom: 10px;
 }

 .chtext{
  margin-left: 20px;
 }
 .chtext h1{
  font-size: 3rem;
 font-weight: 900;
 line-height: 50px;
 }
 .chtext p{
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 400;
 }
.quest{
  padding: 80px;
  margin-top: 10px;
  background: black;
 
}
.quest h1{
text-align: center;
font-size: 3rem;
font-weight: 900;
}
 .questions{
  align-items: center;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
 
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}



.q{
  margin-right: 120px;
  margin-left: 120px;
  cursor: pointer;
  margin-top: 10px;
  color: rgb(235, 235, 241);
  background-color: rgb(44, 40, 40);
  height: 70px;
  padding: 30px;

}

.answer {
  margin-right: 120px;
  margin-left: 120px;
  display: none;
  background-color: rgb(44, 40, 40);
  margin-top:3px ;
  margin-bottom: 15px;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  text-align: left;
  
 
}
.h6{
  margin-top: 45px;
  margin-bottom: -10px;
  font-size: 1.5rem;
font-weight: 400;
line-height: 1.5;

}
.sighnup2{
  width: 650px;
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin-top: 30px;
  margin-left: 310px;
 overflow: hidden;
 backdrop-filter: blur(10px); /* Adjust the value for the desired level of blur */
 background-color: rgba(28, 26, 26, 0.5); 
}

.input2{
  
  flex: 1;
  border: 0;
  outline: 0;
  height: 60px;
  padding-left: 10px;
  font-size: 15px;
  font-family:sans-serif;
  color: #fff;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-out;
 
}
.input2:focus {
  border-color: #fff;
 
  border: 4px solid #ccc;
  border-radius: 4px;
}

.sighnup2 button{
  height: 60px;
  width: 270px;
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 20px;

}
.Footer{
  margin-top: 10px;
  background: black;
  display: block;
  align-items: center;
  justify-content: center;
padding: 80px;
}
.Footer p{
  
  margin-left: 120px;

  font-size: 15px;
  margin-bottom: 20px;
}
.flex{
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-right: 400px;
  margin-left: 100px;
  
}
.insideflex li {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.insideflex li a{
  color: white;
  list-style: none;
  
  margin-top: 10px;

}
.Footer h5{
  margin-left: 120px;
}